/* Reset*/

*{ 
    margin: 0;
    padding: 0;
}

/* General styling */

body {
color: #fcfcfc;
font: 14px 'segeo ul', arial, Sans-Serif;
background: #ccc;

}

a {
    text-decoration: none;
    outline: none;
    color: #54a6de; 

}

/* custom style */

.container {
    width: 70%;
    margin: 10px auto;
    overflow: auto;

}

#navbar {

    display: block;
    height: 40px;
    background: #13181d;
}

#navbar a{

    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 37px;
    padding: 0 15px;
}